---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import {SITE_TITLE_EN } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Companies | " + SITE_TITLE_EN} description={"Overview of companies participating in the spyware trade show ISS World Europe, which will be held in Prague!"} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Companies at the ISS spyware expo</h1>
			
		</main>
		<Footer />
	</body>
</html>
