---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE_CZ } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Stránka nenalezena | " + SITE_TITLE_CZ} description={""} />
	</head>
	<body>
		<Header />
		<main>
			<h1>404</h1>
            <h3>Stránka nenalezena</h3>
            <h3>Page not found</h3>
			
		</main>
		<Footer />
	</body>
</html>
