---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import {SITE_TITLE_CZ } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Podpořte kampaň | " + SITE_TITLE_CZ} description={"Petice proti konání spyware veletrhu ISS World Europe!"} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Podpořte kampaň proti spyware veletrhu ISS v Praze!</h1>

            krome podepsani petice urcite muzete pomoci i jinak! 

            <h4>podpořte nás na sociálních médiích</h4>
            reelsko ve formatu
            post o petici

            <h4>kontaktujte svou politickou reprezentaci</h4>
            mailto vsem poslancum
            mailto vsem senatorum
            mailto prezidentovi
            mailto premierovi
            mailto zastupitelstvu Prahy X

            <h4>kontaktujte management hotelu Clarion</h4>
            mailto hotelu

            <h4>sdílejte kampaň s přáteli</h4>
            sdílet na FB button
            sdílet na Twitteru button
            sdílet na instagramu button
            poslat kamaradovi buttonx

            <h4>a buďte při tom vidět!</h4>
            page header download
            profile picture overlay download

            <h4>nezapomeňte nás sledovat na všech sociálních sítích!</h4>

            <h4>a pro případnou spolupráci nebo pomoc s kampaní nás neváhejte kontaktovat!</h4>
            
			
		</main>
		<Footer />
	</body>
</html>
