---
const today = new Date();

import { Image } from 'astro:assets';

import instagram_icon from '../assets/icon-instagram.png';
import facebook_icon from '../assets/icon-facebook.png';
import twitter_icon from '../assets/icon-twitter.png';
---

<footer>
	&copy; {today.getFullYear()} Stop Spyware Expo Prague. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/stop_spyware_expo_prg" target="_blank">
			<span class="sr-only">Follow us on Instagram</span>
			<Image src={instagram_icon} alt="Instagram icon" width="32" height="32" aria-hidden="true" />
		</a>
		<a href="https://twitter.com/astrodotbuild" target="_blank">
			<span class="sr-only">Follow us on Facebook</span>
			<Image src={facebook_icon} alt="Facebook icon" width="32" height="32" aria-hidden="true" />
		</a>
		<a href="https://github.com/withastro/astro" target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<Image src={twitter_icon} alt="Twitter icon" width="32" height="32" aria-hidden="true" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: #080144;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
