---
import { SITE_TITLE_EN, SITE_TITLE_CZ } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import HeaderLanguageSwitch from "./HeaderLanguageSwitch.astro";
import { Image } from "astro:assets";
import { TransitionBeforePreparationEvent } from "astro:transitions/client";
const path = Astro.url.pathname;
const pathname = path.at(-1) == "/" ? path : path + "/";
const en_slice = pathname.slice(0, 4);
const is_eng = en_slice === "/en/";
---

<header>
    <nav>
        <div class="logo nav-div">
            <a href={is_eng ? "/en" : "/"} class="image-link"
                ><img
                    src="/logo-small-transparent.png"
                    alt={is_eng ? SITE_TITLE_EN : SITE_TITLE_CZ}
                    width="72"
                /></a
            >
        </div>
        <div class="internal-links nav-div">
            <!-- <HeaderLink href={is_eng ? "/en" : "/"}>{is_eng ? "Home" : "Domů"}</HeaderLink> -->
            <HeaderLink href={is_eng ? "/en/companies" : "/spolecnosti"}
                >{is_eng ? "Companies" : "Společnosti"}</HeaderLink
            >
            <HeaderLink href={is_eng ? "/en/petition" : "/petice"}
                >{is_eng ? "Petition" : "Petice"}</HeaderLink
            >
            <HeaderLink href={is_eng ? "/en/support" : "/podporte"}
                >{
                    is_eng ? "Support the Campaign" : "Podpořte kampaň"
                }</HeaderLink
            >
        </div>

        <div class="nav-div">
            <HeaderLanguageSwitch />
        </div>

        <div class="social-links nav-div">
            <a href="https://www.instagram.com/stop_spyware_expo_prg">
                <span class="sr-only">Follow us on Instagram</span>
                <svg
                    fill="currentColor"
                    width="34"
                    height="34"
                    viewBox="0 0 32 32"
                >
                    <g>
                        <path
                            d="m 22.3,8.4 c -0.8,0 -1.4,0.6 -1.4,1.4 0,0.8 0.6,1.4 1.4,1.4 0.8,0 1.4,-0.6 1.4,-1.4 0,-0.8 -0.6,-1.4 -1.4,-1.4 z"
                        ></path>
                        <path
                            d="m 16,10.2 c -3.3,0 -5.9,2.7 -5.9,5.9 0,3.2 2.7,5.9 5.9,5.9 3.2,0 5.9,-2.7 5.9,-5.9 0,-3.2 -2.6,-5.9 -5.9,-5.9 z m 0,9.7 c -2.1,0 -3.8,-1.7 -3.8,-3.8 0,-2.1 1.7,-3.8 3.8,-3.8 2.1,0 3.8,1.7 3.8,3.8 0,2.1 -1.7,3.8 -3.8,3.8 z"
                        ></path>
                        <path
                            d="M 20.8,4 H 11.3 C 7.2,4 4,7.2 4,11.2 v 9.5 c 0,4 3.2,7.2 7.2,7.2 h 9.5 c 4,0 7.2,-3.2 7.2,-7.2 V 11.2 C 28,7.2 24.8,4 20.8,4 Z m 4.9,16.8 c 0,2.7 -2.2,5 -5,5 h -9.5 c -2.7,0 -5,-2.2 -5,-5 v -9.5 c 0,-2.7 2.2,-5 5,-5 h 9.5 c 2.7,0 5,2.2 5,5 z"
                        ></path>
                    </g>
                </svg>
            </a>
            <a href="https://www.facebook.com/stop.spyware.expo.prg/">
                <span class="sr-only">Follow us on Facebook</span>
                <svg
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                >
                    <path
                        fill="currentColor"
                        d="M12 2.03998C6.5 2.03998 2 6.52998 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.84998C10.44 7.33998 11.93 5.95998 14.22 5.95998C15.31 5.95998 16.45 6.14998 16.45 6.14998V8.61998H15.19C13.95 8.61998 13.56 9.38998 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96C15.9164 21.5878 18.0622 20.3855 19.6099 18.57C21.1576 16.7546 22.0054 14.4456 22 12.06C22 6.52998 17.5 2.03998 12 2.03998Z"
                    ></path>
                </svg>
            </a>

            <a href="https://x.com/stopissexpo_prg">
                <span class="sr-only">Follow us on Twitter/X</span>
                <svg
                    width="32"
                    height="32"
                    viewBox="0 0 1024 1024"
                    aria-hidden="true"
                    ,
                    fill="currentColor"
                    fill-rule="evenodd"
                >
                    <path
                        d="M818 800 498.11 333.745l.546.437L787.084 0h-96.385L455.738 272 269.15 0H16.367l298.648 435.31-.036-.037L0 800h96.385l261.222-302.618L565.217 800zM230.96 72.727l448.827 654.546h-76.38L154.217 72.727z"
                        transform="translate(103 112)"></path>
                </svg>
            </a>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: #04002b;
        box-shadow: 0 2px 8px rgba(var(--white), 5%);
        border-bottom-style: solid;
        border-bottom-color: white;
        border-bottom-width: 0.25px;
    }
    h2 {
        margin: 0;
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    .nav-div {
        display: flex;
        align-items: stretch;
    }
    .image-link {
        display: block;
        padding: 0;
    }
    {
        display: block;
    }
    nav {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    nav a {
        display: flex;
        align-items: center;
        padding: 0.5em 0.5em;
        color: var(--white);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    .social-links,
    .social-links a {
        display: flex;
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
