---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE_CZ } from "../../consts";
import { getCollection } from "astro:content";
import CompanyEntry from "../../layouts/CompanyEntry.astro";

const posts = await getCollection("blog");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={"Společnosti | " + SITE_TITLE_CZ}
            description={"Přehled společností účastnících se špionážního veletrhu ISS World Europe, které budou v Praze prodávat spyware celé evropě!"}
        />
    </head>
    <body>
        <Header />
        <main>
            <h1>Společnosti na veletrhu ISS</h1>
            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <CompanyEntry {...post} />
                        </li>
                    ))
                }
            </ul>
        </main>
        <Footer />
    </body>
</html>

<style>
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 2em;
    }
</style>
